<!DOCTYPE html>
<html>
<head>
    <style>
        .CommonClass {
            background: linear-gradient(to right, #23074d, #cc5333); /* Gradient background */
            font-family: 'Arial', sans-serif;
        }

        .container {
            margin-top: 0px;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .col-6 {
            width: 48%;
        }

        .card {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            color: #fff;
            background-color: transparent;
            border-bottom: none;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .form-control {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: #fff;
        }

        .headQuery {
            display: flex;
            align-self: center;
        }

        label {
            display: block;
            margin: 15px 0 5px;
            align-items: center;
        }

        input, textarea {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: #fff;
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            align-items: center;
        }

        .btn-primary {
            background-color: #cc5333;
            border: none;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-success {
            background-color: #28a745;
            color: #fff;
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
            margin-top: 10px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <div class="home-header">
        <header data-thq="thq-navbar" class="home-navbar-interactive">
            <span class="home-logo"><a href="/">DCT Technologies</a></span>
            <div data-thq="thq-navbar-nav" class="home-desktop-menu">
                <nav class="home-links">
                    <span class="home-nav1">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                    <span class="home-nav2"><a href="/">Projects</a></span>
                    <span class="home-nav3">@Html.ActionLink("Queries", "Create", "Queries", new { area = "" }, new { @class = "nav-link" })</span>
                    <span class="home-nav4">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                    <span class="home-nav5">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                </nav>
                <div class="home-buttons">
                    <span class="home-login button">@Html.ActionLink("Login", "Login", "Register", new { area = "" }, new { @class = "nav-link" })</span>
                    <span class="home-login button">@Html.ActionLink("Register", "Create", "Register", new { area = "" }, new { @class = "nav-link" })</span>
                </div>
            </div>
            <div data-thq="thq-burger-menu" class="home-burger-menu">
                <svg viewBox="0 0 1024 1024" class="home-icon">
                    <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"></path>
                </svg>
            </div>
            <div data-thq="thq-mobile-menu" class="home-mobile-menu">
                <div class="home-nav">
                    <div class="home-top">
                        <span class="home-logo1"><a href="/">DCT Technologies</a></span>
                        <div data-thq="thq-close-menu" class="home-close-menu">
                            <svg viewBox="0 0 1024 1024" class="home-icon02">
                                <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"></path>
                            </svg>
                        </div>
                    </div>
                    <nav class="home-links1">
                        <span class="home-nav1">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav2"><a href="/">Services</a></span>
                        <span class="home-nav3">@Html.ActionLink("Queries", "Create", "Queries", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav4">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav5">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                    </nav>
                    <div class="home-buttons1">
                        <span class="home-login button btn-success">@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-login button btn-success">@Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="home-footer">
            <footer class="home-footer1">
                <div class="home-container31">
                    <span class="home-logo2"><a href="/">DCT Technologies</a></span>
                    <nav class="home-nav1">
                        <span class="home-nav12">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav22"><a href="/">Projects</a></span>
                        <span class="home-nav32">@Html.ActionLink("Queries", "Create", "Queries", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav42">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                        <span class="home-nav52">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</span>
                    </nav>
                </div>
                <div class="home-separator"></div>
                <div class="home-container32">
                    <span class="home-text61">
                        © 2023 DCT TECHNOLOGIES, All Rights Reserved.
                    </span>
                    <div class="home-icon-group1">
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
